body, html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/Horror.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #213079;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#aboutBackground {
    padding: 20px;
    background-color: #f4f0e9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 120px auto 20px;
    max-width: 800px;
    border: 10px solid #ffffff;
}

#aboutContent {
    text-align: left;
    padding: 20px;
    border: 2px solid #213079;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p.phone {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #213079;
    margin-bottom: 10px;
}

p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

