body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url('images/Horror.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

header {
    background-color: #12337b;
    color: rgb(255, 254, 254);
    padding: 20px;
    text-align: center;
}

#aboutBackground {
    padding: 40px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 800px; 
    
}

#aboutContent {
    text-align: left;
}

.images {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.images li {
    text-align: center;
}

.images img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #333;
}


.images li {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.images li img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.images li img:hover {
    transform: scale(1.1);
}

.images li span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}










